* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    } 
    main{
       
        height:100vh;
        background-image: url(./bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        position:relative;
        top:5%;
        color:rgb(180, 188, 235)
      }
      .navbar{
        height:50px;
        border-bottom:1px solid rgb(180, 188, 235);
        
    }
    .container { 
        position:relative;
        
        width: 100%; 
        height: 100vh; 
       margin-left:auto;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
     } 
     .navbar ul{
        list-style: none;
        margin:10px 10px;
        display: flex;
        justify-content: end;
        align-items: end;
        position:relative;
        top:-19px;
    }
    .navbar ul li a{
        font-size:medium;
        display:inline-block;
        padding:0px 25px; 
        font-family:"Nanum Myeongjo";
       text-decoration:none;
        color:rgb(239, 238, 244);
        
    }
    .navbar ul  :hover{
        color:rgb(166, 237, 218);
        
    }
     select#tempUnit {
        
            width: 300px;
            height: 70px;
            padding: 5px;
            border: 3px solid rgb(196 196 236);
            margin-left: 49%;
            position: relative;
            top: 6px;
            font-size: 16px;
            font-style: italic;
            color: beige;
            background-color: #17295a26;
        }
   
   .card,.form-control,.form-select,option{
    width:500px;
    height:fit-content;
    background-color: transparent;
}
.box{
    background-color: rgb(98 114 138 / 44%);
   height:85px;
   width:600px;
   border:2px rgb(211, 217, 250) ;
   border-style:groove;
   
}
    
#UIinputValue{
    width: 215px;
    height: 70px;
    padding: 5px;
    border: 3px solid rgb(194 194 236);
    position: relative;
    left: 6px;
    top: -63px;
    font-size: 25px;
    color: #e9e9e0;
    background-color: #17295a26;
}
::placeholder{
    color:beige;
    font-size:15px;
    text-align:centre;
    font-style: italic;
    padding:3px;
}

input.btn.btn-dark.calculateBtn {
    width: 175px;
    height: 55px;
    margin-left:30%;
    border-radius: 30px;
    border:3px groove rgb(164, 164, 188);
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-weight: 600;
    letter-spacing:3px;
    color: rgb(252, 252, 247);
    background-color: rgb(29 34 56 / 22%);
    transition:.4s;
}
.btn:hover{
   box-shadow:0px 0 10px rgb(146, 146, 237);
   transform:scale(1.5,1.6);
   color:rgb(4, 4, 45);
   cursor:pointer;
}
.form-group.cal-btn {
    padding: 40px;
    margin-left: 2%;
}
input#result-celsius {
    width: 250px;
    height:56px;
    padding: 10px;
    margin-left: 48%;
    color: beige;
    border: 2px ridge beige;
    position: relative;
    top: -12px;
    background-color: rgb(24 24 59 / 43%);
}

input#result-fahrenheit {
    height: 56px;
    width: 250px;
    border: 2px ridge beige;
    margin-left: 48%;
    padding: 10px;
    position: relative;
    top: -20px;
    background-color: rgb(24 24 59 / 43%);
}
input#result-kelvin {
    width: 250px;
    height: 56px;
    border: 2px beige ridge;
    margin-left: 48%;
    padding: 10px; 
    position:relative;
    top:-10px;
    background-color: rgb(24 24 59 / 43%);
}
@font-face {
    font-family:typewriter ;
    src: url(./Tox\ Typewriter.ttf);
}
span.input-group-text {
    color: beige;
    /* font-family:typewriter; */
}
span.input-group-text {
    color: beige;
    font-family: math;
    font-weight: lighter;
    font-size: larger;
    position: relative;
    top: 30px;
    margin-left: -2%;
    font-size: 25px;
    color: beige;
    font-family: math;
    
     font-size: larger; 
    position: relative;
    top: 30px;
    /* margin-left: -2%; */
    font-size: 25px;
}
span#UIinputValueUnit {
    margin-left: 45%;
    height: 20px;
    position: relative;
     top: -120px;
}
option{
    background-color: rgb(4, 4, 83);
    font-size:20px;
    font-style: normal;
    border:2px solid azure;
    color:azure;
    padding:5px;
}
option:hover{
    cursor:pointer;
    color:aquamarine;
}
span#cel {
    position: relative;
    margin-left: 100%;
    top: -46px;
    font-weight: 600;
    font-size: xx-large;
    color:beige;
}
span#far {
    position: relative;
    margin-left: 100%;
    color: beige;
    top: -58px;
    font-size: xx-large;
    font-weight: 600;
}
span#kel{
    position: relative;
    margin-left: 100%;
    color: beige;
    top: -58px;
    font-size: xx-large;
    font-weight: 600;
}
#result-celcius{
    color:azure;
    font-size:25px;
    font-weight:bold;
}
input[type="number"]:disabled{
    color:azure;
    font-size:25px;
    text-align:center;
}
footer{
    background-color:black;
    height:85px;
        position: relative;
        background-color: black;
        top: -69px;
    }
    footer p{
        color:azure;
        font-family: typewriter;
        color: aliceblue;
        position: relative;
        top: 35px;
        left:66%;
    }
    .media{
        margin-top:auto;
        margin-right: 8%;
        top: 85vh;
        right: 20vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        list-style: none;
        color:aliceblue;
    }
    .media li{
        margin: 20px 30px;
        margin-right:2px;
    
    }
    .media li:hover{
        color:rgb(134, 131, 183);
        cursor:pointer;
    }
    
